:root {
    --clr-p-red: hsl(0, 78%, 62%);
    --clr-p-cyan: hsl(180, 62%, 55%);
    --clr-p-orange: hsl(34, 97%, 64%);
    --clr-p-blue: hsl(212, 86%, 64%);

    --clr-n-darkblue: hsl(234, 12%, 34%);
    --clr-n-grayblue: hsl(229, 6%, 66%);
    --clr-n-lightgray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    color: var(--clr-n-darkblue);
}

body {
    font-family: 'Poppins', sans-serif;
    
}

.article {
    margin: 4rem 2rem;
    justify-content: center;
    align-items: center;
    display: grid;
    }

.heading {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

.light {
    font-weight: 200;
}

p {
    color: var(--clr-n-grayblue);
    font-weight: 400;
    font-size: .8rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
    max-width: 450px;
    display: inline-block;
}

.cards {
    display: grid;
    justify-content: center;
}

.section {
    box-shadow: 0 0 1rem rgba(0, 0, 255, 0.2);
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    max-width: 350px;
    max-height: 250px;
}

.supervisor {
    border-top: 4px solid var(--clr-p-cyan);
}

.team {
    border-top: 4px solid var(--clr-p-red);
}

.karma {
    border-top: 4px solid var(--clr-p-orange);
}

.calculator {
    border-top: 4px solid var(--clr-p-blue);
}

h2 {
    font-size: 1.1rem;
    margin-bottom: -.5rem;
}

.icon {
    display: flex;
    justify-content: end;
}

.section p {
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .section{
        margin-bottom: unset;
    }

    .supervisor {
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    
    .team {
        grid-column: 2;
        grid-row: 1;
    }
    
    .karma {
        grid-column: 2;
        grid-row: 2;
    }
    
    .calculator {
        grid-column: 3;
        grid-row: 1 / span 2;
    }

    h1{
        font-size: 2rem;
    }
}